.navbar-block {
  .navigation-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 37px;
    padding-bottom: 37px;
    background-color: $white;
    z-index: 999;
    .container {
      .logo {
        &.logo-img {
          width: 170px;
        }
      }
      .navigation {
        .navmenu-block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .nav {
            &.nav-items {
              display: flex;
              justify-content: space-between;
              width: 505px;
            }
            &.nav-link {
              font-size: 16px;
              line-height: 30px;
              font-weight: $light;
              color: $navblue;
              position: relative;
              cursor: pointer;
              &::before {
                content: "";
                display: block;
                position: absolute;
                background-color: $primary;
                height: 2px;
                width: 0%;
                position: absolute;
                left: 0;
                top: -10px;
                transition: 0.3s ease;
              }
              &:hover::before {
                width: 100%;
              }
            }
            &.navlist-dropdown {
              position: relative;
              display: inline-block;
              .dropdown-content {
                display: none;
                border-radius: 0px 5px 0px 5px;
                position: absolute;
                background-color: $white;
                border: 1px solid #b0b1b7;
                min-width: 174px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                a {
                  color: $primary;
                  padding: 8.5px 12px;
                  text-decoration: none;
                  display: block;
                  font-size: 18px;
                  line-height: 28px;
                  font-weight: $light;
                  &:hover {
                    background-color: $primary;
                    color: $white;
                  }
                }
              }
              &:hover .dropdown-content {
                display: block;
              }
            }
          }
        }
      }
      .requestdemo-block {
        a {
          display: flex;
          align-items: center;
          background-color: $golden;
          padding: 12px 25px;
          border-radius: 5px;
          opacity: 1;
          transition: 0.5s ease-in-out;
          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
  }
  .navbar-menu {
    display: none;
  }
}
