.navbar-block {
  .navigation-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 37px;
    padding-bottom: 37px;
    background-color: $white;
    z-index: 999;
    .container {
      .logo {
        &.logo-img {
          width: 170px;
        }
      }
      .navmenu-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav {
          &.nav-items {
            display: flex;
            justify-content: space-between;
            width: 505px;
          }
          &.nav-link {
            font-size: 16px;
            line-height: 20px;
            font-weight: $light;
            color: $navblue;
          }
        }
      }
      .requestdemo-block {
        a {
          display: flex;
          align-items: center;
          background-color: $golden;
          padding: 12px 25px;
          border-radius: 5px;
        }
      }
    }
  }
}
