//global
//$host:'../pics/';
//$host: 'http://assets.aversio.com/resources/resellers/2/138/125/img/';
//media query
$media-xlg: 1800px; //120em
$media-lg: 1200px; //75em
$media-md: 992px; //62em
$media-sm: 768px; //48em
$media-xs: 544px; //34em

//fonts
$font-1: Adobe Clean;

//colors
$white: #ffffff;
$primary: #0c1854;
$goldenbrown: #735f49;
$secondaryblue: #040f43;
$golden: #a78b6b;
$grey: #656b83;
$navblue: #4f577e;
$lightblue: #2d92d2;
$black: #292d41;
$headingblue: #656b83;
$footerlink: #a7b0db;

//weights
$light: 300;
$regular: 400;
// $semi-bold:600;
$bold: 700;
