//global
//$host:'../pics/';
//$host: 'http://assets.aversio.com/resources/resellers/2/138/125/img/';
//media query
$media-xlg: 1500px; //120em
$media-lg: 1200px; //75em
$media-md: 992px; //62em
$media-sm: 768px; //48em
$media-xs: 544px; //34em


//fonts
$font-1: Adobe Clean;


//colors
$white: #FFFFFF;
$primary: #0C1854;
$goldenbrown: #735F49;
$secondaryblue: #040F43;
$golden: #A78B6B;
$grey: #656B83;
$navblue: #4F577E;
$lightblue: #2D92D2;
$black: #292D41;
$headingblue: #656B83;
$footerlink: #A7B0DB;

//weights
$light:300;
$regular:400;
// $semi-bold:600;
$bold:700;