.contact-description {
  padding-top: 250px;
  padding-bottom: 134px;
  @media (max-width: $media-sm){
    padding-top: 120px;
    padding-bottom: 100px;
}
  .container {
    .grid {
      .office_col {
        h3 {
          font-size: 55px;
          line-height: 65px;
          letter-spacing: 0.77px;
          color: $primary;
          font-weight: $regular;
          font-family: $font-1;
          margin: 0;
          padding: 0;
          @media (max-width: $media-sm){
            font-size: 45px;
        }
        @media (max-width: $media-xs){
          font-size: 35px;
      }
        }
      }
      .office_col-2 {
        @media (max-width: $media-sm){
         padding-top: 57px;
      }
      @media (max-width: $media-xs){
        padding-top: 47px;
     }
        .office-col-2-wrapper {
          display: flex;
          column-gap: 100px;
          @media (max-width: $media-sm){
            display: flex;
            flex-direction: column;
         row-gap: 61px;
        }
          .office-content-1 {
            display: flex;
            flex-direction: column;
            gap: 8px;
            h4 {
              font-size: 16px;
              line-height: 18px;
              font-family: $font-1;
              font-weight: $bold;
              color: $primary;
              letter-spacing: 1.6px;
              margin: 0;
            }
            p {
              font-size: 16px;
              line-height: 30px;
              font-family: $font-1;
              font-weight: $regular;
              color: $primary;
              max-width: 250px;
              margin: 0;
            }
          }
        }
        .customer-support {
          padding-top: 84px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          @media (max-width: $media-sm){
            padding-top: 71px;
         }
         @media (max-width: $media-xs){
          padding-top: 61px;
       }
          h4 {
            font-size: 16px;
            line-height: 18px;
            font-family: $font-1;
            font-weight: $bold;
            color: $primary;
            margin: 0;
            padding: 0;
            letter-spacing: 1.6px;
          }
          a {
            font-size: 16px;
            line-height: 18px;
            font-family: $font-1;
            color: #a78b6b;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}
