.contact_section {
  padding-top: 235px;
  @media (max-width: $media-md) {
    padding-top: 150px;
  }
  .container {
    .grid {
      .contact_title-col {
        h2 {
          color: $primary;
          font-size: 65px;
          font-weight: $regular;
          font-family: $font-1;
          line-height: 75px;
          letter-spacing: 0.91px;
          padding: 0;
          margin: 0;
          @media (max-width: $media-sm) {
            font-size: 45px;
            line-height: 55px;
          }
          @media (max-width: $media-xs) {
            font-size: 35px;
            line-height: 45px;
          }
        }
      }
      .contact_form-block {
        @media (max-width: $media-md) {
          padding-top: 45px;
        }
        form {
          width: 70%;
          @media (max-width: $media-md) {
            width: auto;
          }
          .focused {
            .form-label {
              transform: translateY(-125%);
              font-size: 10px;
              opacity: 0.5;
            }
          }
          .form-inner {
            .form-group {
              position: relative;
              margin-bottom: 30px;
              border-bottom: 1px solid $primary;
              .form-label {
                pointer-events: none;
                position: absolute;
                left: 0;
                top: 10px;
                color: $primary;
                font-weight: $light;
                background-color: transparent;
                z-index: 10;
                font-size: 18px;
                font-family: $font-1;
                transition: transform 150ms ease-out, font-size 150ms ease-out;
                @media (max-width: $media-sm) {
                  font-size: 16px;
                  line-height: 26px;
                }
              }

              .form-input {
                position: relative;
                padding: 12px 0px 10px 0;
                width: 100%;
                outline: 0;
                border: 0;
                box-shadow: 0 1px 0 0 #e5e5e5;
                transition: box-shadow 150ms ease-out;
                padding-top: 10px;
                &:focus {
                  box-shadow: 0 2px 0 0 $primary;
                }
              }
              .input-padding {
                padding-bottom: 100px;
              }
              // .form-input.filled {
              //   box-shadow: 0 2px 0 0 lightgreen;
              // }
            }
            .contact-submit-block {
              padding-top: 30px;
              // display:flex;
              // align-items: flex-end;
              float: right;
              .button-sub {
                border: none;
                background-color: #a78b6b;
                padding: 12px 38px 12px 38px;
                border-radius: 5px;
                color: $white;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
