.contact-description{
    padding-top: 250px;
    padding-bottom: 134px;
    .container{
        .grid{
            .office_col{
                
                h3{
                    font-size: 55px;
                    line-height: 65px;
                    letter-spacing: 0.77px;
                    color:$primary;
                    font-weight:$regular;
                    font-family: $font-1;
                    margin:0;
                    padding: 0;
                }
            }
            .office_col-2{
                .office-col-2-wrapper{
                    display: flex;
                   column-gap: 100px;
                  
                    .office-content-1{
                        display: flex;
                        flex-direction: column;
                        gap:8px;
                        h4{
                            font-size: 16px;
                            line-height: 18px;
                            font-family:$font-1 ;
                            font-weight:$bold;
                            color:$primary;
                            margin: 0;
                            
                        }
                        p{
                            font-size: 16px;
                            line-height: 18px;
                            font-family:$font-1 ;
                            font-weight:$regular;
                            color:$primary;
                            max-width: 250px;
                            margin:0;
                        }

                    }
                    
                }
                .customer-support{
                    padding-top: 84px;
                    display: flex;
                    flex-direction: column;
                    gap:8px;
                    h4{
                        font-size: 16px;
                        line-height: 18px;
                        font-family:$font-1 ;
                        font-weight:$bold;
                        color:$primary;
                        margin:0;
                        padding: 0;
                        letter-spacing: 1.6px;
                    }
                    a{
                        font-size: 16px;
                        line-height: 18px;
                        font-family:$font-1 ;
                        color:#A78B6B;
                        padding: 0;
                        margin:0;
                    }
                }
            }
        }
    }
}