.case-study__banner {
  width: 100%;
  padding-top: 207px;
  height: auto;
  padding-bottom: 249px;
  @media (max-width: $media-md){
    padding-top: 150px;
  }
  @media (max-width: $media-sm){
    padding-bottom: 150px;
  }
  @media (max-width: $media-xs){
    padding-top: 96px;
  }

  .container {
    .case-study__wrapper-row {
      .grid {
        .case-study__left-block {
        }
        .case-study__right-block {
          .case-study__main-header {
            width: 645px;
            padding-bottom: 49px;
            @media (max-width: $media-xs){
              padding-bottom: 42px;
            }
            h2 {
              width: 100%;
              margin: 0;
              // line-height: 105px;
              color: $primary;
              font-family: $font-1;
              font-weight: $regular;
              @media (max-width: $media-sm){
                font-size: 55px;
                line-height: 65px;
              }
              @media (max-width: $media-xs){
                font-size: 35px;
                line-height: 45px;
              }
            }
          }
        }
      }
    }
    .case-study__wrapper-row {
      // padding-top: 153px;
      .grid {
        .case-study__left-block {
          .case-study__sub-header {
            padding-top: 179px;
            @media (max-width: $media-md){
              padding-top: 80px;
            }
            @media (max-width: $media-sm){
              padding-top: 20px;
            }
            @media (max-width: $media-xs){
              padding-top: 0px;
            }
            h4 {
              margin: 0;
              color: $primary;
              // line-height: 105px;
              font-family: $font-1;
              font-weight: $bold;
              @media (max-width: $media-sm){
                font-size: 30px;
                line-height: 40px;
              }
              @media (max-width: $media-xs){
                font-size: 20px;
                line-height: 30px;
              }
            }
            p {
              font-size: 30px;
              line-height: 40px;
              color: $golden;
              font-family: $font-1;
              font-weight: $bold;
              // white-space: nowrap;
              max-width: 338px;
              margin: 0;
              padding-top: 12px;
              @media (max-width: $media-sm){
                padding-bottom: 12px;
                font-size: 20px;
                line-height: 30px;
              }
              @media (max-width: $media-xs){
                padding-bottom: 10px;
                font-size: 15px;
                line-height: 25px;
                max-width: 169px;
              }
            }
            .sub-discription_media {
              max-width: 391px;
              @media (max-width: $media-sm){
                max-width: 500px; 
              } 
            }
            .sub-discription-event {
              max-width: 437px;
            }
            .sub-discription-internet {
              max-width: 326px;
            }
          }
        }
        .case-study__right-block {
          .case-study__images {
            // width: 1197px;
            // height: 625px;
            img {
              width: 100%;
            }
          }
          .live-stream__discription {
            padding-top: 70px;
            @media (max-width: $media-xs){
              padding-top: 31px;
            }
            .discription-paragraph {
              font-size: 18px;
              line-height: 28px;
              font-family: $font-1;
              font-weight: $regular;
              color: $black;
              margin: 0;
              padding-bottom: 15px;
              max-width: 873px;
              width: 100%;
              @media (max-width: $media-sm){ 
                max-width: 550px; 
                font-size: 16px;
              line-height: 26px;
              } 
              @media (max-width: $media-xs){ 
                max-width: 367px; 
                font-size: 14px;
              line-height: 24px;
              } 
            }
          }
          .case-study__changes-header {
            padding-top: 43px;
            @media (max-width: $media-sm){ 
              padding-top: 30px;
            }
            .challenge {
              margin: 0;
              font-size: 30px;
              line-height: 28px;
              color: $primary;
              font-family: $font-1;
              font-weight: $bold;
              @media (max-width: $media-xs){ 
                font-size: 26px;
              line-height: 36px;
              }
            }
            .change__discription {
              font-size: 20px;
              line-height: 28px;
              color: $primary;
              font-family: $font-1;
              font-weight: $regular;
              margin: 0;
              padding-top: 15px;
              @media (max-width: $media-xs){ 
                font-size: 17px;
              line-height: 27px;
              }
            }
            .change-list {
              list-style: circle;
              li {
                font-size: 18px;
                line-height: 28px;
                color: $primary;
                font-family: $font-1;
                font-weight: $regular;
                padding-top: 7px;
                @media (max-width: $media-xs){ 
                  font-size: 16px;
                line-height: 28px;
                }
              }
              @media (max-width: $media-xs){ 
                margin-bottom: 69px;
              }
            }
            .change-paragraph-list {
              list-style: number;
              li {
                font-size: 20px;
                line-height: 28px;
                font-family: $font-1;
                color: $primary;
                font-weight: $regular;
              }
            }
          }
          .case-study__solution--blue-background {
            //     width: 1197px;
            // height: 462px;
            background-color: $primary;
            padding-left: 80px;
            padding-top: 85px;
            border-radius: 10px 0px;
            @media (max-width: $media-xs){ 
              padding-left: 30px;
              padding-top: 57px;
            }
            .solution__header {
              .challenge--white-font {
                margin: 0;
                font-size: 30px;
                line-height: 28px;
                color: $white;
                font-family: $font-1;
                font-weight: $bold;
                @media (max-width: $media-xs){ 
                  font-size: 25px;
                line-height: 35px;
                }
              }
              .change__discription--white-font {
                font-size: 20px;
                line-height: 28px;
                color: $white;
                font-family: $font-1;
                font-weight: $regular;
                margin: 0;
                padding-top: 11px;
              }
              .change-list--white-font {
                padding-top: 38px;
                li {
                  font-size: 18px;
                  line-height: 28px;
                  color: $white;
                  font-family: $font-1;
                  font-weight: $regular;
                  padding-top: 7px;
                }
              }
            }
          }
          .streaming-height {
            height: 462px;
            padding-bottom: 159px;
          }
          .media-height {
            height: 381px;
            padding-bottom: 129px;
          }
          .rural-height {
            height: 483px;
            padding-bottom: 71px;
          }
        }
      }
    }
    .top-space {
      padding-top: 153px;
      @media (max-width: $media-md){
        padding-top: 80px;
      }
      @media (max-width: $media-sm){
        padding-top: 60px;
      } 
    }
  }
}
