.the-team__banner {
  width: 100%;
  height: auto;
  padding-top: 262px;
  padding-bottom: 200px;
  @media (max-width: $media-md){
    padding-top: 0px;
    padding-bottom: 160px;
  }
  @media (max-width: $media-sm){
    padding-top: 0px;
    padding-bottom: 120px;
  }
  .container {
    .case-study__wrapper-row {
      .grid {
        .case-study__left-block {
          .mission-vission__header {
            h4 {
              color: #091b56;
              font-family: $font-1;
              font-weight: $bold;
              margin: 0;
              @media (max-width:$media-xlg){
                font-size: 40px;
                line-height: 50px;
              }
              @media (max-width:$media-sm){
                padding-top: 20px;
              }
            }
            .mission-vission {
              font-size: 30px;
              line-height: 40px;
              font-family: $font-1;
              font-style: italic;
              color: #091b56;
              max-width: 612px;
              padding-top: 25px;
              @media (max-width: $media-xlg){
                font-size: 22px;
                padding-right: 30px;
              }
              @media (max-width: $media-xs){
                font-size: 16px;
              }
            }
          }
        }
        .case-study__right-block {
          .mission-vission__header {
            h4 {
              color: #091b56;
              font-family: $font-1;
              font-weight: $bold;
              margin: 0;
              @media (max-width:$media-xlg){
                font-size: 40px;
                line-height: 50px;
              }
              @media (max-width:$media-sm){
                padding-top: 20px;
              }
            }
            .mission-vission {
              font-size: 30px;
              line-height: 40px;
              font-family: $font-1;
              font-style: italic;
              color: #091b56;
              max-width: 612px;
              padding-top: 25px;
              @media (max-width: $media-xlg){
                font-size: 22px;
               max-width: 560px;
              }
              @media (max-width: $media-xs){
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .row-padding {
      padding-top: 298px;
      @media (max-width: $media-md){
        padding-top: 80px;
      }
      @media (max-width: $media-sm){
        padding-top: 68px;
      }
    }
    .case-study__wrapper-row {
      .grid {
       
        .the-team__left-block {
          .the-team__header {
            h4 {
              font-family: $font-1;
              font-weight: $bold;
              color: $primary;
              margin: 0;
            }
            .the-team__discription {
              display: flex;
              flex-direction: column;
              row-gap: 79px;
              padding-top: 25px;
              padding-right: 30px;
              @media (max-width: $media-md){
                padding-right: 40px;
              }
              @media (max-width: $media-sm){
                padding-right: 0px;
              }
              .team-paragraph {
                font-size: 30px;
                line-height: 40px;
                color: $primary;
                font-weight: $font-1;
                margin: 0;
                font-style: italic;
                max-width: 549px;
                @media (max-width: $media-sm){
                  font-size: 22px;
                }
                @media (max-width: $media-xs){
                  font-size: 16px;
                }
              }
            }
          }
        }
        .the-team__right-block {
          .the-team__image--flex {
            display: flex;
            padding-top: 88px;
            gap: 42px;
            @media (max-width: $media-md){
              gap: 50px;
            }
            @media (max-width: $media-sm){
              display: grid;
              grid-template-columns: repeat(2,1fr);
              gap: 30px;
              padding-left: 30px;
            }
            @media (max-width: $media-xs){
              display:flex;
              flex-direction: column;
              gap: 42px;
              justify-content: center;
              align-items: center;
            }
            .image__profile-card {
              // width: 288px;
              // height: 378px;
              @media (max-width:$media-sm){
                display: flex;
                flex-direction: column;
                align-items: center;
              }
              .image__outer--size{
              img {
                max-width: 180px;
                @media (max-width: $media-lg){
                  max-width: 180px;
              }
            }
          }
              .name__profile {
                padding-top: 21px;
                @media (max-width:$media-sm){
                  padding-left: 25px;
                }
                p {
                  font-size: 22px;
                  line-height: 30px;
                  color: #091b56;
                  font-family: $font-1;
                  font-weight: $bold;
                }
                ul {
                  li {
                    font-size: 18px;
                    line-height: 25px;
                    font-family: $font-1;
                    font-weight: $regular;
                    color: #091b56;
                  }
                }
              }
              .profile-padding {
                padding-left: 25px;
              }
            }
          }
        }
      }
    }




    
    .pading-top {
      padding-top: 262px;
      @media (max-width: $media-md){
        padding-top: 100px;
      }
    }
  }
}
