.solution-section{
    padding-top: 58px;
    @media (max-width:$media-xlg){
      padding-top: 40px;
    }
    .solution-wrapper{
        .grid{
            .solution_block{
                background-color: $primary;
                padding: 85px 80px 85px 80px ;
                border-radius: 10px 0px 10px 0px;
                @media (max-width:$media-xlg){
                  padding: 55px 50px 55px 50px ; 
                }
                @media (max-width: $media-sm){
                    padding-top: 67px;
                    padding-left: 40px;
                  }
                  @media (max-width: $media-xs){
                    padding-top: 57px;
                    padding-left: 30px;
                  }
                h3{
                    color:$white; 
                   font-size: 30px;
                   font-weight: $bold;
                   font-family: $font-1;
                   line-height: 40px;
                   @media (max-width: $media-xlg){
                    font-size: 18px;
                    line-height: 24px;
                  }
                  @media (max-width: $media-xs){
                    font-size: 25px;
                  }

                }
                p{
                   color:$white; 
                   font-size: 20px;
                   font-weight: $regular;
                   font-family: $font-1;
                   line-height: 28px;
                   padding-bottom: 8px;
                   @media (max-width: $media-xlg){
                    font-size: 12px;
                    padding-top: 15px;
                    line-height: 23px;
                    max-width: 530px;
                  }
                  @media (max-width: $media-xs){
                    font-size: 16px;
                    padding-top: 23px;
                  }
                }
            }
        }
    }
}