.company-section {
  padding-top: 207px;
  @media (max-width: $media-xlg){
    padding-top: 100px;
  }
  @media (max-width: $media-xs){
    padding-top: 100px;
  }
  .container {
    .grid {
      .company_block {
        h2 {
          color: $primary;
          font-size: 75px;
          font-weight: $regular;
          font-family: $font-1;
          line-height: 85px;
          letter-spacing: 1.05px;
          padding: 0;
          margin: 0;
          @media (max-width: $media-xlg){
            font-size: 40px;
            line-height: 50px;
          }
        
          @media (max-width: $media-xs){
            font-size: 35px;
          }
        }

        .company-content-block {
          padding-top: 64px;
          @media (max-width: $media-xlg){
            padding-top: 20px;
          }
          p {
            padding-bottom: 8px;
            color: $primary;
            font-size: 18px;
            font-weight: $regular;
            font-family: $font-1;
            line-height: 28px;
            @media (max-width: $media-xlg){
              font-size: 12px;
              line-height: 22px;
              padding-bottom: 10px;
            }
            @media (max-width: $media-xs){
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
